body {
  font-size: 12px;
}

hr {
  margin: 10px 0;
}

.container {
  width: 600px;
}

.row {
  margin-top: 10px;
}

.view-el {
  display: none !important;
}

.oneway .view-oneway {
  display: inline-block !important;
}

.roundtrip .view-roundtrip {
  display: table-row !important;
}

.complex .view-complex {
  display: inline-block !important;
}

/**
 * Legs
 */

.legs form:last-child .days {
  display: none !important;
}

.leg {
  position: relative;
}

.leg .leg-remove-container {
  position: absolute;
  top: 32px;
  left: -10px;
  color: #ddd;
  cursor: pointer;
}

.leg .leg-remove-container span:hover {
  transition: color 0.3s ease;
  color: #666;
}

.leg:first-child .leg-remove-container {
  display: none;
}


#logo {
  margin-top: 10px;
}


#result {
  width: 100%;
}

#status {
  margin-top: 10px;
}
