body {
  font-size: 12px;
}
.container {
  width: 600px;
}

.row {
  margin-top: 10px;
}

.view-el {
  display: none !important;
}

.oneway .view-oneway {
  display: inline-block !important;
}

.roundtrip .view-roundtrip {
  display: table-row !important;
}

.complex .view-complex {
  display: inline-block !important;
}

.legs form:last-child .days {
  display: none !important;
}

#result {
  width: 100%;
}

#status {
  margin-top: 10px;
}
