body {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 100px;
}

.controls {
  margin-top: 10px;
}

.controls > div {
  margin-left: 30px;
}

.controls span {
  font-size: 16px;
  font-weight: bold;
}

#logo {
  margin-top: 10px;
}

/**
 * Table
 */

table {
  width: 100%;
}

thead th {
  font-weight: bold;
  background: #eee;
}

td, th {
  text-align: center;
  border: solid 1px #ccc;
  padding: 2px 5px;
}

th input {
  width: 100%;
  text-align: center;
}

td.time {
  width: 130px;
}

td.price {
  text-align: center;
  width: 70px;
}

td.extra {
  width: 330px;
  text-align: left;
}

th[data-sort] {
  cursor: pointer;
  background-image: url(/img/sort.png);
  background-position: -12px -28px;
  background-repeat: no-repeat;
}


th.sorting-asc {
  background-image: url(/img/sort.png);
  background-position: -12px 0px;
}
th.sorting-desc {
  background-image: url(/img/sort.png);
  background-position: -12px -56px;
}


td .wrap-extra {
  height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.success-only tbody tr {
  display: none;
}

.success-only tbody tr.bg-success {
  display: table-row;
}

.failed-only tbody tr {
  display: none;
}

.failed-only tbody tr.bg-warning {
  display: table-row;
}
