body {
  font-size: 12px;
  line-height: 16px;
}
.container {
  //width: 800px;
}

.controls {
  margin-top: 10px;
}

.controls span {
  font-size: 16px;
  font-weight: bold;
}

/**
 * Table
 */

table {
  width: 100%;
}

thead td {
  font-weight: bold;
  background: #eee;
}

td {
  text-align: center;
  border: solid 1px #ccc;
  padding: 2px;
}

td.time {
  width: 130px;
}

td.price {
  text-align: center;
}

td.extra {
  width: 220px;
  text-align: left;
}

.wrap-extra {
  height: 16px;
  overflow: hidden;
}

.success-only tbody tr {
  display: none;
}

.success-only tbody tr.bg-success {
  display: table-row;
}

.failed-only tbody tr {
  display: none;
}

.failed-only tbody tr.bg-warning {
  display: table-row;
}
